*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: #FFFFFF;
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
}

body{
  position: relative;
  background-color: #0A0A0B;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

.luz{
  position: absolute;
  background: rgba(55, 74, 109, 0.5);
  filter: blur(90px);
}

#luz1{
  width: 500px;
  height: 500px;
  top: -148px;
  left: -178px;
}

#luz2{
  width: 400px;
  height: 400px;
  left: 1231px;
  top: 304px;
}

header{
  width: 900px;
  height: 80px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

header img{
  height: 22px;
}

header ul{
  display: flex;
  gap: 48px;
}

header ul li {
  list-style: none;
  cursor: pointer;
}

header ul li a:hover{
  color: #346DDA;
  filter: drop-shadow(0px 0px 15px #4444dd);
}

.container{
  max-width: 900px;
  margin: 0 auto;
}

.container:nth-child(2){
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:nth-child(2) h1:nth-child(1){
  margin-bottom: 35px;
}

#tipo{
  display: flex;
  margin: 5px 0 15px 0;
}

#tipo span{
  font-size: 16px;
  color: #4177DC;
}

#carroContainer1{
  width: 300px;
  margin-bottom: 10px;
}

#especificacoes{
  width: 406px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

#especificacoes div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#especificacoes div span, #especificacoes div h4{
  margin-bottom: 5px;
}

#especificacoes div p{
  color: #888B91;
  font-size: 13px;
}

#botaoContainer1{
  width: 90px;
  height: 90px;
  padding: 10px;
  border: 2px solid #02DB8A;
  border-radius: 50px;
  box-shadow: 0 0 16px 0px #02DB8A;
  display: flex;
  justify-content: center;
  align-items: center;
}

#botaoContainer1 button{
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  border: 2px solid #02DB8A;
  border-radius: 50px;
  cursor: pointer;
  background-color: transparent;
}

.container:nth-child(3){
  margin: 72px auto 88px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#imagensContainer2{
  width: 420px;
  height: 372px;
  position: relative;
}

#imagensContainer2 img{
  width: 100%;
}

#imagensContainer2 div{
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imagensContainer2 div p{
  text-align: center;
  font-size: 10px;
}

#container2Texts{
  width: 400px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#container2Texts button{
  width: 150px;
  height: 50px;
  font-size: 15px;
  border-radius: 4px;
  background-color: #4177DC;
  cursor: pointer;
}

.container:nth-child(4){
  height: 516px;
  margin: 72px auto 22px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container:nth-child(4) h3{
  text-align: center;
  margin-bottom: 64px;
}

#cardsContainer3{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.c3Card{
  width: 258px;
  height: 328px;
  position: relative;
  padding: 32px 24px 32px 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.048);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.luzcard{
  width: 180px;
  height: 180px;
}

.c3Card p{
  color: #888B91;
}

.c3Card img{
  width: 180px;
  margin-left: auto;
}

.containerStatus{
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.status{
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.status span{
  font-size: 14px;
  margin-right: 5px;
}

.status p{
  font-size: 12px;
}

.bolsaComprar{
  width: 56px;
  height: 48px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 26px 0 20px 0;
  background-color: #4177DC;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:nth-child(5){
  height: 609px;
  position: relative;
  padding: 72px 0 32px 0;
}

.container:nth-child(5) img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container:nth-child(5) img:nth-child(1){
  z-index: 1;
}

.container:nth-child(5) img:nth-child(2){
  height: 80%;
  left: 55%;
}

.container:nth-child(6){
  max-width: 100vw;
  height: 392px;
  background: url(./assets/container5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container:nth-child(6) .content{
  max-width: 900px;
  height: 264px;
  margin: 0 auto;
  display: flex;
}

.container:nth-child(6) .content #container5text{
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#container5text p{
  color: #BABEC4;
}

#container5text button{
  width: 174px;
  height: 50px;
  font-size: 15px;
  border-radius: 4px;
  background-color: #4177DC;
  cursor: pointer;
}

.container:nth-child(6) .content img{
  width: 450px;
  height: 200px;
}

.container:nth-child(7){
  height: 204px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:nth-child(8){
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.container:nth-child(8) div{
  width: 23%;
}

.container:nth-child(8) img{
  width: 50%;
  margin-bottom: 25px;
}

.container:nth-child(8) h2{
  margin-bottom: 25px;
}

.container:nth-child(8) div:nth-child(4) h2{
  font-size: 22px;
}

.container:nth-child(8) p, .container:nth-child(8) a{
  color: #888B91;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.container:nth-child(8) p:hover, .container:nth-child(8) a:hover{
  color: #346DDA;
  filter: drop-shadow(0px 0px 15px #4444dd);
}






